<div class="container">


  <div class="jumbotron " id="debut" style="background:none">

    <div id="MasterLicence" class="row justify-content-center">
      <div class="col-sm-12 col-md-4 blockimage ">
        <img (click)="showLicense()" id="LicenceImage" src="/assets/images/ll.png" class="blockimage fadeInLeft animated "
          alt="">
      </div>
      <div class="col-sm-12 col-md-4 blockimage">
        <img (click)="showMaster()" id="MasterImage" src="/assets/images/mm.png" class="blockimage fadeInRight animated"
          alt="">
      </div>

    </div>

    <div id="LicenceList" class="row justify-content-center" style="display: none">

      <div class="col-sm-12 col-md-4 blockimage ">
        <img (click)="SearchOption('Licence 1')" (click)="showLicense()" src="/assets/images/licence1.png" class="blockimage flipInX slow animated "
          alt="">
      </div>
      <div class="col-sm-12 col-md-4 blockimage">
        <img (click)="SearchOption('Licence 2')" src="/assets/images/licence2.png" class="blockimage flipInX animated slow "
          alt="">
      </div>
      <div class="col-sm-12 col-md-4 blockimage">
        <img (click)="SearchOption('Licence 3')" src="/assets/images/licence3.png" class="blockimage flipInX animated slow "
          alt="">
      </div>

      <button (click)="RetourList();" class="btn bounceIn animated btn-warning px-4 mt-4"> &#60; Retour</button>

    </div>

    <div id="MasterList" class="row justify-content-center " style="display: none">
      <div class="col-sm-12 col-md-4 blockimage ">
        <img (click)="SearchOption('Master 1')" src="/assets/images/M1.png" class="blockimage flipInX slow animated "
          alt="">
      </div>
      <div class="col-sm-12 col-md-4 blockimage">
        <img (click)="SearchOption('Master 2')" src="/assets/images/M2.png" class="blockimage flipInX animated slow "
          alt="">
      </div>
      <div class="w-100"></div>

      <button (click)="RetourList();" class="btn btn-danger px-4 mt-4">Retour</button>

    </div>

  </div>


  <div id="PanelSearch" class="jumbotron DesignedJumbo shadow-lg animated fadeIn slow" style="display: none" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous">
    <div class="container">
      <br>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm rounded">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <!--end of col-->
              <div class="col">
                <input #TextChoix class="form-control form-control-lg form-control-borderless" type="search" placeholder="{{getExample()}}">
              </div>
              <!--end of col-->
              <div class="col-auto">
                <select #Choix class="form-select pt-2 pl-2 rounded pb-2 mr-2" name="" id="">
                  <option selected >Titre</option>
                  <option>Module</option>
                  <option>Groupe</option>
                  <option>Section</option>
                </select>
                <button (click)="DataChanged(Choix.value,TextChoix.value)"class="btn btn-lg btn-success" type="submit">Search</button>
              </div>
              <!--end of col-->
            </div>
          </form>
        </div>
        <!--end of col-->
      </div>
      <br>





      <img id="ImageLoading" src="/assets/images/load.gif" class="mx-auto d-block" style="width:50%" alt="">
      
      <div class="table-responsive ">
      <table id="tableauR" class="table table-hover shadow-sm table-dark" style="display: none">
        <thead>
          <tr>
            <th  scope="col">#</th>
            <th  scope="col">Titre</th>
            <th  scope="col">Module</th>
            <th  scope="col">Year</th>
            <th  scope="col">Semestre</th>
            <th  scope="col">Section</th>
            <th  scope="col">Groupe</th>
            <th  scope="col">Date</th>
            <th  scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Doc of ListOfDocuments;let i=index">
            <th>{{i+1}}</th>
            <td>{{Doc?.Titre}}</td>
            <td>{{Doc?.Module}}</td>
            <td>{{Doc?.Year}}</td>
            <td>{{Doc?.Semestre}}</td>
            <td>{{Doc?.Section}}</td>
            <td>{{Doc?.Groupe}}</td>
            <td>{{Doc?.Date.seconds*1000 | date :'dd/MM/yyyy - HH:mm'}}</td>
            <td><Button [routerLink]="[ '/Affichage', Doc.id ]" class="btn btn-primary mb-2">Show</Button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>