# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/app/Auth/connexion/connexion.component.spec.ts
src/app/Auth/inscription/inscription.component.spec.ts
src/app/Auth/my-doc/my-doc.component.spec.ts
src/app/Auth/profile/profile.component.spec.ts
src/app/Documents/add/add.component.spec.ts
src/app/Documents/all/all.component.spec.ts
src/app/Documents/edit/edit.component.spec.ts
src/app/footer/footer.component.spec.ts
src/app/home/home.component.spec.ts
src/app/app.component.ts
src/app/app.component.ts
