<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4" data-toggle="affix">
    <div class="container flex-sm-nowrap justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars4" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbars4">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-grip-horizontal"></i> Affichage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="Affichage/All"><i class="fas fa-globe-africa"></i> All</a>
                        <a class="dropdown-item" routerLink="Affichage/Add"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Search"><i class="fas fa-search"></i> Search</a>
                </li>
                <li class="d-none d-sm-block">
                    <a class="navbar-brand" routerLink="home"><img src="/assets/images/HalasLOGO.png" width="35" height="35"
                            class="d-inline-block align-top" alt=""></a>
                </li>
                <li *ngIf="!isAuth" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Connexion"><i class="fas fa-user-lock"></i> Log in</a>
                </li>
                <li *ngIf="!isAuth" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Inscription"><i class="fas fa-user-plus"></i> Registration</a>
                </li>


                <li *ngIf="isAuth" class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-graduate"></i> {{UserName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="Me/Profile"><i class="fas fa-user-alt"></i> Profile</a>
                        <a class="dropdown-item" routerLink="Me/MyAffichage"><i class="fas fa-box-open"></i> My Publications</a>
                    </div>
                </li>

                <li *ngIf="isAuth" class="nav-item">
                    <a style="cursor:pointer" class="nav-link" data-toggle="modal" data-target="#DeconnexionModel"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="modal fade" id="DeconnexionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deconnexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                êtes-vous sûr de vouloir vous déconnecter ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" (click)="onDeconnexion()">Oui</button>
            </div>
        </div>
    </div>
</div>