<img src="{{Image}}" class="resizeMe mx-auto d-block animated bounceIn">

<div class="d-flex justify-content-center pb-3">
<div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <img routerLink="/Affichage/Add" src="/assets/images/btn1.png" class=" blockimage shadow" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <img routerLink="/Affichage/All" src="/assets/images/btn3.png" class=" blockimage shadow" alt="">
        </div>
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-6 mx-auto">

<blockquote class="resizeMe blockquote text-center">
    <h1 class="display-4 mx-auto d-block text-center">STUDENT NOTE <strong style="color:#fb503b">A+</strong></h1>
    <p class="mb-2">Display and share notes with your colleagues easily.</p>
    <a href="https://www.linkedin.com/in/salahbentayeb/" data-toggle="tooltip" data-placement="bottom" title="LinkedIn !"><img
            src="./assets/images/linkedin.png " class="animated jackInTheBox slow mr-4 stylee"></a>
    <a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="https://twitter.com/halasdior"> <img src="./assets/images/twitter.png "
            class=" animated jackInTheBox mr-4 delay-1s slow stylee"></a>
    <a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="https://www.facebook.com/BentayebSalah"><img
            src="./assets/images/facebook.png " class="animated slow delay-2s jackInTheBox mr-4 stylee"></a>
    <a data-toggle="tooltip" data-placement="bottom" title="GitHub" href="https://github.com/HalasProject"><img src="./assets/images/github.png "
            class=" animated slow delay-3s jackInTheBox stylee"></a>
</blockquote></div>